<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite A</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>18/03/12 15:47:55</td>   <td>0</td> <td title="&gt;&gt;TestSuiteBase.checkSuiteSkip()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:54</td>   <td>58374</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase_A1.checkTestSkip()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&gt;&gt;checkTestSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:54</td>   <td>58763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase_A1.reportDataSetResult()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:59</td>   <td>63657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase_A1.reportDataSetResult()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:59</td>   <td>63822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase_A1.reportDataSetResult()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:59</td>   <td>63981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase_A1.reportDataSetResult()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:49:00</td>   <td>64369</td> <td>&nbsp;</td><td title="&lt;&lt;TestCase_A1.reportTestResult()[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">&lt;&lt;reportTestResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:54</td>   <td>58434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_A1.testcaseA1(java.lang.String, java.lang.String)[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">testcaseA1</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:59</td>   <td>63646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_A1.testcaseA1(java.lang.String, java.lang.String)[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">testcaseA1</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:59</td>   <td>63816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_A1.testcaseA1(java.lang.String, java.lang.String)[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">testcaseA1</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/03/12 15:48:59</td>   <td>63965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_A1.testcaseA1(java.lang.String, java.lang.String)[pri:0, instance:com.openkey.suiteA.TestCase_A1@4c70fda8]">testcaseA1</td> 
  <td>main@1597249648</td>   <td></td> </tr>
</table>
